<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#Id</th>
                <th>Label</th>
                <th>Assigned To</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let issue of issues$ | async">
                <td>{{issue.id}}</td>
                <td>
                    <a class="btn" role="button" (click)="editIssue(issue)">
                        <b>{{issue.label}}</b> - {{issue.description}}
                    </a>
                </td>
                <td>
                    <p>
                        <a class="btn" role="button" *ngIf="issue.assignedTo" (click)="showUserInfo(issue.assignedTo)">
                            {{issue.assignedTo?.name}}
                        </a>
                        <small>{{issue.assignedTo?.email}}</small>
                    </p>
                </td>
                <td>{{issue.created | date}}</td>
            </tr>
        </tbody>
    </table>
    <div class="top-bar">

    </div>
    <div class="myClass">
        <ul>
            <li>
                <button type="button" class="btn btn-outline-success btn-block" (click)="createIssue()">New
                    Issue</button>
            </li>
        </ul>
    </div>
</div>