@import "../styles-variables";

@media all {
  .myClass ul {
    list-style: none;
    padding-left: 0;
  }
  .myClass {
    background-color: #fff;
  }
  .mymt {
    margin-top: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
